html {
    font-size: 30px;
}

.header h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

#main-wrapper {
    padding-top: 3em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.form-group {
    padding: 1em;
}

.form-group input {
    display: block;
    margin-top: 0.5em;
    font-size: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.form-group button[type=submit] {
    width: 100%;
    font-size: 1em;
    border-radius: 10px;
    line-height: 1.5em;
    background-color: #6E85B2;
    color: white;
    cursor: pointer;
}

.form-group button[type=submit]:hover {
    background-color: #414e69;
}

.table-responsive {
    height: 40vh;
    width: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

table tbody td {
    padding: 0.5em;
    border-bottom: 1px solid lightgray;
}